<!DOCTYPE html>
<html>
  <head>
    <title>todolist</title>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
      <link rel="stylesheet" href="../public/lib/bootstrap/dist/css/bootstrap.css"/>
      <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/lib/angular/angular.js"></script>
</html>
